<div class="popup">

    <header class="popup__header">

        <div class="header">

            <div class="header__marker">
                <i class="flaticon-marker"></i>
            </div>

            <div class="header__title">{{address}}</div>

            <div class="header__close">
                <i class="flaticon-close"></i>
            </div>

        </div>

    </header>

    <section class="popup__body">

        <div class="sql"></div>

        <div class="comment">

            <div class="comment__title">ВАШ ОТЗЫВ</div>

            <form class="comment__form">
                <input type="text" class="comment__author" placeholder="Ваше имя" />
                <input type="text" class="comment__place" placeholder="Укажите место"/>
                <div class="comment__message-wrapper">
                    <textarea type="text" class="comment__message" placeholder="Поделитесь впечатлениями"></textarea>
                </div>
            </form>

        </div>

    </section>

    <footer class="popup__footer">

        <div class="footer">

            <button class="footer__button">Добавить</button>

        </div>

    </footer>

</div>